{% extends "Main template.html" %}
    <!–- Tutorial about a video game -->
        <!–- Wy website is about a video game called Dofus. It purpose is to guide beginners on how to do specific things. For my first page, the tutorial will be about how to start to play Dofus.
        To guide the user in the tutorial, several pictures and images will be used to make the tutorial very clear and easy to understand. -->
        <!–- Title -->

        {% block Title %}Tutorial 1{% endblock %}
        {% block Body %}
            <br><br>
        <!–- Main title -->
        <h1 class="headers">Tutorial #1 : How to start Dofus 1.29</h1>
        <!–- Quick introduction -->
        <br>
        <h2 class="headers"> Some information about the game</h2>
            <p style="font-family: Verdana">
                Dofus is a MMORPG french game released in 2004 by Ankama. This game can be played either in free-to-play or pay-to-play mode. The game has been developed in Adobe Flash programming language.
                Since its release, the game has been updated several times and Ankama Games keeps releasing new content every month. However, this tutorial will focus on a previous version of the game,
                the 1.29 version. To contextualize, Ankama Games evolved the game architecture by upgrading the game architecture from 1.29 to 2.0 version.
                This feature led to major changes in term of graphic aspect and features as it is shown in the following images (Dofus 1.29 on the left and 2.0 on the right).
                <br><br>
                <img class="img-fluid" style="margin-right: 20px; float: left" alt="Dofus 1.29" src="../static/Pictures/dofus1.29.jpg" width="400" height="316">    <img alt="Dofus 2.0" src="https://i.skyrock.net/8203/62838203/pics/2683148086_small_1.jpg" width="470"height="316">
                <br><br>
                All the servers were migrated to that new version, well all of them except two servers. Since some users in Latin America had poor PC performances back in 2009, Ankama Games decided to keep
                two active servers for that community. And guess what, the servers are still accessible in 2020! This version can be enjoyable both for young and elderly. This tutorial will provide a full
                guide on how to start the game Dofus. This whole tutorial will assume the user to have a subbed account (which can easily be done in the
                <a href="https://www.dofus.com/en/shop/18-subscriptions" target="_blank">Dofus website</a>)
            </p>
        <h2 class="headers">Steps to start an adventure in Dofus</h2>
        <p>
            <ol>
                <li><a href="#1. Download Dofus 1.29">Download Dofus 1.29</a></li>
                <li><a href="#2. Create an account">Create an account</a></li>
                <li><a href="#3. Create your character">Create your character</a></li>
                    <ul>
                        <li>Choose your server</li>
                        <li>Choose your class</li>
                        <li>Choose your appearance and name</li>
                    </ul>
                <li><a href="#4. Explore the first world : Incarnam">Explore the first world : <em>Incarnam</em></li>
            </ol>
        </p>
        <br><br>
        <h2 class="headers"><a name="1. Download Dofus 1.29">1. Download Dofus 1.29</a></h2>
        <p>
            First of all, to play the game, the user must download the Ankama Launcher. This tool is similar to the Epic Launcher or the Origin Launcher. It allows the user to download all the games belonging
            to Ankama Games, including Dofus 1.29. To download the Ankama Launcher, please <a href="https://www.ankama.com/en/launcher" target="_blank">click here</a>. You can choose your OS by clicking
            <strong>Download a Different Version</strong> highlighted in the following image. Please note that the Ankama Launcher is not guaranteed to run on all Linux distributions.
            <br><br>
        </p>
        <p>
            <img class="img-fluid" alt="Choose different OS" src="../static/Pictures/chooseDifferentOS.jpg" width="575" height="300">
            <br><br>
            After downloading the Ankama Launcher, in the section "games", select the second game with the <sub><img alt="Dofus 1.29 logo" src="https://i.gyazo.com/5cb055471a689edc53c31ec41fcac7da.png"
                                                                                                                     width="25" height="18"></sub>
            logo and click download. The download progression should be indicated on the bottom-right corner. Please note that other activities such streaming, downloading or suspicious website browsing should
            be avoided during the downloading if the internet connexion speed is low.
        </p>
        <br><br>
        <h2 class="headers"><a name="2. Create an account">2. Create an account</a></h2>
        <p>
            For this part, the Dofus website will also be useful. <a href="https://www.dofus.com/en/mmorpg/play" target="_blank">Click here</a> to create an account. It is possible to create an Ankama account
            from a Steam account. The account name selection must be done carefully since <strong>it is not possible to modify the username.</strong>After filling all the requirements, click <strong>
            Complete Registration</strong>.
            <br><br>
        </p>
        <img class="img-fluid" alt="Complete registration image" src="../static/Pictures/completeRegistration.jpg" width="267" height="300">
        <h2 class="headers"><a name="3. Create your character">3. Create your character</a></h2>
        <p>To create a character in the game Dofus 1.29, the user has to choose the characteristics of his character. Those characteristics are the character's class, appearance and name and server. </p>
        <h3>Choose your server</h3>
        <p>Dofus 1.29 had from 2009 to 2019 only two available servers. However, there was a huge nostalgic community in game that led Ankama Games to develop more servers to match the demand. Currently, there
        are 11 available servers : Ayuto, Clustus, Bilby, BiIssering, Eratz, Henual. Mabur, Arty. Droupik, Hogmeiser and Algathe. Among all these servers, Eratz and Henual are the oldest server. Depending on
        the user's interests, some servers can be better. For example, some servers are more populated than others. This can be an advantage if a player wants to find more teammates to play with or a neutral
        aspect if the player does not want to play with other players. It is possible to know if a server is very populated. To choose you server, launch Dofus 1.29 via the Ankama Launcher, log in and click
        <strong>Create a character</strong>. After, click <strong>I want to select my server</strong> and check <strong>Display all servers</strong>.
        </p>
        <br>
        <pre><img class="img-fluid" alt="serverList1" src="../static/Pictures/serverList1.png" width="550" height="100">    <img alt="serverList2" src="../static/Pictures/serverList2.png" width="400" height="100"> </pre>
        <p>Each server shows its level of population, from <strong>Recommanded</strong> to <strong>High</strong>. <strong>High</strong> population servers are recommended for beginners. Then, click on the chosen
            server and apply <strong>Select</strong>.
        </p>
        <br>
        <h3 class="headers">Choose your class</h3>
        <p>Dofus is an MMORPG. Thus, players have to cooperate together to achieve and unlock new contents. That is why Dofus have a class system. It allows players to have different specializations. Each class
            is unique and allows to add synergy to an existing group. Here is a short table about the 12 available classes and their utilities.
        </p>
        <table class="table" border="1">
            <tr>
                <th>Class</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Sadida</td>
                <td>Nature's ally, he uses poisons to deal damages. Summon puppies and trees to limit the enemy's movements. Can also be an important damage dealer. This class is recommended for players who
                prefer to play alone.</td>
            </tr>
            <tr>
                <td>Osamodas</td>
                <td>This class relies on summoning creatures. Is also a good support who can provide boosting, healing and protection to allies. Matches well with big teams but can also be played in solo.  </td>
            </tr>
            <tr>
                <td>Enutrof</td>
                <td>This class is the best for dropping items, resources and money. Can also be a good damage dealer and has a good ability to survive in tight spots</td>
            </tr>
            <tr>
                <td>Sram</td>
                <td>This class can turn invisible and allows teammates to be invisible. Can also set invisible traps and make a copy of itself. Is also a good damage dealer. This class is recommended for
                lonely people who do not like social interactions</td>
            </tr>
            <tr>
                <td>Xelor</td>
                <td>Master of time, this class allows its user to limit opponents' actions. Has also a huge mobility capacity. Is useful in teams because it can gives <strong>Ability Points</strong>
                to its teammates. Not recommended for beginners</td>
            </tr>
            <tr>
                <td>Pandawa</td>
                <td>This class requires to be drunk (in game) to attack. This drunk mode gives him less movement capacity but gives him more protection. Can be a important AOE (area of effect) damage dealer
                and an important control manager</td>
            </tr>
            <tr>
                <td>Ecaflip</td>
                <td>This class heavily relies on luck. Some attacks could deal a lot of damage or even heal your opponents depending on your luck. This class is recommended for impulsive gamblers</td>
            </tr>
            <tr>
                <td>Eniripsa</td>
                <td>This class is the healer of the game. Half of its abilities are designed to heal allies. Can also shield allies. Very useful in teams and are generally appreciated by other players</td>
            </tr>
            <tr>
                <td>Iop</td>
                <td>This class is the main damage dealer of the game. Has an important mobility capacity and can deliver a lot of damage in few attacks. Is recommended for beginners</td>
            </tr>
            <tr>
                <td>Cra</td>
                <td>This class can attack from afar. Usually used to play in long distances. Is also very useful for its AOE capacity. Recommended for solo players.</td>
            </tr>
            <tr>
                <td>Feca</td>
                <td>This class is the main protector of Dofus. It can shield teammates and allow them to live longer. Has also AOE attacks. This class fits both solo and multiplayer playstyles.</td>
            </tr>
            <tr>
                <td>Sacrieur</td>
                <td>This class is the best tank among the 12 classes. Can tank damages for the team and fight head-to-head with opponents. Is very useful in teamfights, but also revelant in solo gameplay.</td>
            </tr>
        </table>
        <br>
        <p>Please be aware that the class selection is a <strong>permanent decision</strong> and the player cannot change his class after the character creation. To learn more about classes and their abilities
        , a user can acces the list of every class' spells by clicking <strong>Class spells</strong> under the class' image</p>
        <br>
        <h3 class="headers">Choose your appearance and name</h3>
        <p>The player can customize his character appearance by selecting the name, the gender and the color of its character. The player can customize three colors : the skin, the hair and the clothes.
        For the name, its up to the player to choose it, as long as nobody in the past already took it. Finally, it is possible to choose between male and female for every character.</p>
        <img class="img-fluid" alt="appearance" src="../static/Pictures/appearance.jpg" width="500" height="350">
        <br><br>
        <h2><a name="4. Explore the first world : Incarnam">4. Explore the first world : <em>Incarnam</em></a></h2>
        <p>
            Congratulations! You just created your first character in the game Dofus. But there is more. It is time to explore the world of the 12, but specifically the first world : <em>Incarnam</em>. This
            world is designed to teach basic concepts about the game. To start with, you can moove from map to map by clicking the yellow and green suns at each extremity of a map (please see image).
        </p>
        <br>
        <img class="img-fluid" alt="mapMovement" src="../static/Pictures/movement.jpg" width="500" height="350" >
        <br>
        <p>From the starting point, go left and engage a fight with the <strong>Incarnam scarecrow</strong>. To engage a fight, click on the scarecrow. You are now in fight mode! But do not panic,
        it is very easy. To understand how a fight works, here is a screenshot during a fight.
        </p>
        <br>
        <img class="img-fluid" alt="fightMode" src="../static/Pictures/fightMode.jpg" width="550" height="380">
        <br>
        <p style="font-family: Verdana">
        <ol>
            <li><strong>Ability points </strong>: players have to pay a certain amount of AP to cast a spell. This number reinitialize at the end of each turn</li>
            <li><strong>Movement points </strong>: players have to pay a certain amount of MP to move. This number reinitialize at the end of each turn</li>
            <li><strong>Health bar</strong> : if this bar reaches 0, the player has lost the fight</li>
            <li><strong>Spells </strong>: Each  box is a spell. Players must use spells to kill enemies</li>
            <li><strong>Timeline</strong> : Indicates the order of each players and enemies' turn</li>
        </ol>
        <br>
        To kill the scarecrow, use abilities on the enemy. You have now killed your first enemy, congratulations! With this tutorial, you can now visit <em>Incarnam</em> and fight enemies as long as you want!
        Here is a map of <em>Incarnam</em> that could be useful. To acces that map, click on the compass at any time.
        </p>
        <img class="img-fluid" alt="incarnamMap" src="https://i.ytimg.com/vi/Z0I5qLmHBZU/maxresdefault.jpg" width="550" height="350">
            <br><br>
            <h3>Bonus : list everything you will need to start the game</h3>
            <form action="/list" , method="post">
                <input type="text" placeholder="Enter text" name="lister">
                <button type="submit">Submit</button>
            </form>
            <ul class="">
                {% for item in list %}
                        <li> {{ item }}</li>
                {% endfor %}
            </ul>
        {% endblock %}
        {% block MainTemplate %}
            <br><br>
            <pre>
        <a href="https://www.youtube.com/channel/UCv95irwo4zKPXKZpgfLvcyg" target="_blank"><img alt="Youtube" src="https://i.pinimg.com/originals/98/df/87/98df87df9dd9694b31b5ccc522320850.png" width="300" height="250"></a>                                                  <a href="https://www.facebook.com/ismael.rekik" target="_blank"> <img alt="Facebbok" src="https://facebookbrand.com/wp-content/uploads/2019/04/f_logo_RGB-Hex-Blue_512.png?w=512&h=512" width="175" height="145"> </a>                                                 <a href="https://www.instagram.com/ismaelrekik/?hl=fr-ca" target="_blank"> <img alt="Instagram" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1200px-Instagram_logo_2016.svg.png" width="175" height="145" </a>

        </pre>
        {% endblock %}
